body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(to right, #667eea, #764ba2); */
    /* background: linear-gradient(to right, #050c31,#1b34af, #7b40b6); */
    /* background: linear-gradient(to right, #2583c2, #a2cde9); */
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    margin: 0;

  }
  
  .form-container {
    width: 400px;
    padding: 40px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 80px;
    /* font-weight: bold; */
    text-align: center;
    margin-bottom: 20px;
    color: #161515;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Sacramento', cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .formItems {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #0a0909;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    width: 100%;
    height: 40px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #fff;
    color: #764ba2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #ddd;
  }
  